.board-window {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.board-header {
  min-height: 3.6rem;
  padding: 0 1.6rem;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, var(--clr-bg-dark), var(--clr-bg-light));
  border-bottom: 1px solid var(--clr-bg-light);
}

.board-name {
  font-size: 1.5rem;
  color: var(--clr-white);
}

.board-content {
  width: 100%;
  height: 100%;
  padding: 0.8rem;
  display: flex;
  gap: 0.8rem;
  background-color: var(--clr-bg-light);
}

.add-column-button {
  display: flex;
  width: 18rem;
  padding: 0.8rem;
  height: fit-content;
  border: none;
  border-radius: 8px;
  background-color: #d6d6d654;
  color: var(--clr-white);
  font-size: 0.92rem;
  transition: background-color 100ms ease-in-out;
  cursor: pointer;
}

.add-column-button > svg {
  height: 1.3rem;
  width: 1.3rem;
  margin-right: 0.3rem;
}

.add-column-button:hover {
  background-color: #d6d6d626;
}
